@page
@model ProjetoJcmWeb.Pages.LoginModel

<h2>Login</h2>

<form id="login-form">

    <label for="login-id">ID:</label>
    <input type="number" id="login-id">
    
    <label for="login-nome">Nome:</label>
    <input type="text" id="login-nome">

    <label for="login-password">Senha:</label>
    <input type="password" id="login-password" required>

    <button type="submit">Entrar</button>

</form>

<p>Ainda não tem uma conta? <a href="/Cadastro">Crie uma agora</a></p>

<script>

        const apiUrl = "https://localhost:44315"; // Ajuste para a porta correta da API

        document.getElementById("login-form").addEventListener("submit", async (e) => {
            e.preventDefault(); // Impede o envio tradicional do formulário

        //const id = document.getElementById("login-id").value;

        const id = document.getElementById("login-id").value || null;
        const nome = document.getElementById("login-nome").value || null;

        const password = document.getElementById("login-password").value;

        const requestBody = {//RECENTLY ADDED - 10-06-25
            id: id ? parseInt(id) : null,
            nome: nome,
            password: password
        };
        console.log("Dados enviados:", requestBody);

        try {
            const response = await fetch(`${apiUrl}/api/Usuarios/authenticate`, {
                  method: "POST",
                  headers: {"Content-Type": "application/json" },
                  body: JSON.stringify(requestBody)

                //body: JSON.stringify({id, password}) // Enviando os dados para a API
            });

        if (!response.ok) {
                alert("Erro ao autenticar! Verifique seu login.");
                return;
            }

        const data = await response.json();
        console.log("Resposta da API:", data);             // Teste de retorno da API
        sessionStorage.setItem("JwtToken", data.jwtToken); // Token armazenado em sessionStorage.
        sessionStorage.setItem("UsuarioNome", data.nome);  // Salva o nome do usuário

        alert(`Olá, ${data.nome}!`);

        // Exibe o token no console (para depuração)
        //console.log("Token salvo:", data.jwtToken);

        // Redirecionar para a página Inicial Autenticado
        window.location.href = "/Index";

            } catch (error) {
            console.error("Erro ao acessar API:", error);
            alert("Falha na conexão com o servidor.");
            }
        });

</script>

