@page
@model ProjetoJcmWeb.Pages.UsuariosModel

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true">

<div class="row mb-3">
    <div class="col-md-6">
        <input type="text" class="form-control" id="campo-busca" placeholder="Digite ID ou nome...">
        <!-- <input type="text" id="campo-busca" placeholder="Digite ID ou nome..."> -->
    </div>
    <div class="col-md-6 text-end">
        <button class="btn btn-primary" onclick="buscarUsuario()">Buscar</button>
        <button class="btn btn-secondary" onclick="fetchUsuarios()">Mostrar Todos</button>
    </div>
</div>
<h2 class="text-center mb-4">Lista de Usuários</h2>

<button class="btn btn-success mb-3" onclick="abrirFormulario()">Adicionar Usuário</button>

<!-- <div id="formulario-cadastro" style="display: none;"> -->
<div id="formulario-cadastro" class="formulario-container" style="display: none;">
    <h3>Novo Usuário</h3>

    <input type="text" id="nome-usuario" placeholder="Nome">

    <input type="password" id="password-usuario" placeholder="Senha">

    <select id="perfil-usuario">
        <option value="0">Administrador</option>
        <option value="1">Usuário</option>
    </select>

    <button class="btn btn-warning btn-sm" onclick="cadastrarUsuario()">Cadastrar</button>
    <button class="btn btn-danger btn-sm" onclick="fecharFormulario()">Cancelar</button>
</div>


    <ul id="usuarios-list" class="list-group"></ul>


<div id="formulario-edicao" style="display: none;">
    <h3>Editar Usuário</h3>
    
    <input type="hidden" id="id-edicao">

    <label>Nome:</label>
    <input type="text" id="nome-edicao">

    <label>Perfil:</label>
    <select id="perfil-edicao">
        <option value="0">Administrador</option>
        <option value="1">Usuário</option>
    </select>

    <label>Senha:</label>
    <input type="password" id="senha-edicao">

    <button class="btn btn-warning btn-sm" onclick="salvarEdicaoUsuario()">Salvar</button>
    <button class="btn btn-danger btn-sm" onclick="fecharFormularioEdicao()">Cancelar</button>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - ProjetoJcmWeb - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>


<script src="/js/usuarios.js"></script>
